body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


p {
  font-size: 1.5rem;
}

h1 {
  font-size: 6rem;
}

.app {
  width: 100%;
  height: 100dvh;
  padding: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  background-color: white;
  gap: 1rem;
  color: #000;
}

.app:before {
  display: none;
}

.container {
  width: 100%;
  max-width: 380px;
  height: 100%;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  border-radius: 14px;
  padding: 1rem;
  top: 18px;
  right: 18px;
  color: #fff;
  background-color: #000;
  opacity: 0.7;
  z-index: 9999;
}

.container p {
  font-size: 14px;
}
.container .temperature {
  font-size: 2rem;
}

.app .description {
  position: relative;
}

.bold {
  font-weight: 700;
}

.weather-info {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.weather-info div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.weather-info-item {
  margin: 0;
}

.weather-info-label {
  margin-top: 0rem;
}

.location-name {
  margin: 0;
}

.temperature {
  margin: 0;
}

.weather-description {
  margin-top: 0.5rem;
}

.forecast-container {
  width: 100%;
  opacity: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  transform: translateY(30px);
  transition: all 0.5s ease-in-out;
}

.forecast-container h2 {
  width: 100%;
  text-align: left;
}

.forecast-container.show {
  opacity: 1;
  transform: translateY(0);
}

.forecast {
  flex: 1;
  margin-right: 1rem;
}

.forecast-content {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-self: flex-start;
  gap: 1rem;
}

.forecast-grid {
  flex: 1;
}
.topbar {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}
.topbar-actions {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.filter-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.filter-bar .p-button {
  justify-content: center;
}

.dropdown-filter {
  width: 100%;
}

canvas#forecastChart {
  max-width: 730px;
  width: 100%;
  max-height: 360px;
  height: 100%;
}

.chart-container {
  max-width: 100%;
  max-height: 360px;
  height: 100%;
}

.loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  justify-self: center;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #FFF;
  animation: prixClipFix 2s linear infinite ;
}

@keyframes rotate {
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}